{{ $local := .Site.IsServer }}
{{ $openprops := $.Site.Params.BlankOpenProps }}
{{ $sassRoot := "scss/root.scss" }}
{{/*  {{ $css := resources.Get $sassRoot | toCSS }}  */}}
{{ if $local }}
{{ printf "<!-- themes/blank-open-props/layouts/partials/css.html -->" | safeHTML }}
{{ end  }}

<link rel="stylesheet" href="{{ $openprops.normalize }}">
<link rel="stylesheet" href="{{ $openprops.openprops }}">

{{ with resources.Get $sassRoot | toCSS | postCSS }}
{{ if $local }}
  {{ printf "<!-- blank-open-props files here -->" | safeHTML }}
{{ end }}
{{/*  This is layout(s) Grids and all the rest not part of the Open Props Library  */}}
  <link rel="stylesheet" href="{{ .RelPermalink }}">    
{{ end }}

{{ with resources.Get "/scss/main.scss" | toCSS }}
  {{ printf "<!-- Your Custom SCSS / CSS here to extend the theme -->" | safeHTML }} 
  <link rel="stylesheet" href="{{ .RelPermalink }}">
{{ end }}
